* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.bg-color {
  background-color: #f2f2f9bc;
}

.navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

body {
  width: 375px;
}

.logostyle {
  width: 100px;
  height: 40px;
  margin-top: 8px;
  margin-left: 12px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: rgb(79, 79, 215);
}

img {
  margin-right: 24px;
}

.headline {
  background-image: url(./svgs/newback.svg);
  background-color: #fff;
  height: 594px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-bottom-left-radius: 90px;
}

.text {
  width: 327px;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  margin-top: 100px;
  line-height: 52px;
}

.innercontent {
  font-size: 16px;
  font-weight: 300;
  color: #344563;
  width: 325px;
  line-height: 24px;
}

.button {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 25px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 170.17;
  align-self: flex-start;
  margin-left: 25px;
}

.works-section {
  padding: 110px 0;
  display: grid;
  grid-template-rows: 1fr 1.09fr 1fr 1.09fr;
  gap: 80px;
  justify-items: center;
}

.card {
  width: 300px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background: #fff;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.content {
  width: 295px;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.details h1 {
  color: #172b4d;
}

.details .frame {
  display: flex;
  align-items: center;
}

.frame img {
  padding-left: 12px;
}

.frame p {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-left: -10px;
}

.frame .dark {
  color: #344563;
  margin-left: 0;
}

.description {
  width: 295px;
  height: 76px;
  color: #344563;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tags li {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: #ebebff;
}

.tags li span {
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}

.action-btn {
  height: 48px;
  vertical-align: middle;
  padding: 0 15px;
  margin-top: 18px;
  line-height: 48px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
}

.Myself {
  height: 1062.5px;
  width: 375px;
  position: relative;
}

.Intro {
  background-color: #fff;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-top-right-radius: 90px;
}

.btn-style {
  height: 48px;
  vertical-align: middle;
  padding: 0 15px;
  margin-top: 18px;
  line-height: 48px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
  align-self: flex-start;
  margin-left: 20px;
}

.paragraph-style {
  font-size: 16px;
  font-weight: 300;
  color: #344563;
  width: 325px;
  line-height: 24px;
}

.skills {
  height: 600px;
  width: 375px;
  background-color: white;
}

.languages {
  width: 327px;
  height: 72px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.languages img {
  margin-right: 45px;
}

.align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 20px;
}

.listing {
  height: 65px;
  width: 295px;
  background-color: #f2f2f9bc;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
}

.borders {
  width: 327px;
  height: 72px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  border-bottom: 1px solid rgb(221, 218, 218);
}

.bg-contact {
  background-color: white;
  padding-top: 3rem;
}

.contact-section {
  background-image: url(./svgs/bg-contact.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: #6070ff;
  height: 779px;
  border-top-left-radius: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-section h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 5rem;
}

.contact-section p {
  width: 327px;
  height: 137px;
  color: #ebebff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 0.6rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

input::placeholder,
textarea::placeholder {
  color: #b3bac5;
  font-weight: 300;
}

form > input {
  width: 297px;
  height: 48px;
  padding: 0 15px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
}

form > textarea {
  width: 297px;
  height: 140px;
  padding: 15px;
  font-size: 15px;
  color: #172b4d;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.form-btn {
  margin: 0;
  align-self: flex-start;
}
