* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

body {
  width: 375px;
}

.logostyle {
  width: 100px;
  height: 40px;
  margin-top: 8px;
  margin-left: 12px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: rgb(79, 79, 215);
}

img {
  margin-right: 24px;
}

.headline {
  background-image: url(./svgs/newback.svg);
  height: 594px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-bottom-left-radius: 90px;
}

.text {
  width: 327px;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  margin-top: 100px;
  line-height: 52px;
}

.innercontent {
  font-size: 16px;
  font-weight: 300;
  color: #344563;
  width: 327px;
  line-height: 24px;
}

.button {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 23px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 170.17;
  align-self: flex-start;
  margin-left: 12px;
}
